@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  
}


body {
  margin: 0 2em;
  box-sizing: border-box;
  font-family: 'Zilla Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #003865; */
  background-color: #f9f9f9;
}

code {
  font-family: 'Zilla Slab', EB Garamond,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
